* {
    font-family: 'Poppins', sans-serif;
    padding: 0 5px;
}

header {
    background-color: rgba(255, 144, 14, 0.1);

}

.nav-bar {
    display: flex;
    justify-content: space-between;


}

.nav-bar>div {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    padding: 20px;

}

.nav-anchor a {
    padding: 0 15px;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 17px;
}

.banner {
    text-align: center;
    width: 50%;
    margin: 0 auto;



}

.banner h2 {
    line-height: 20px;
    font-weight: 800;
    font-size: 30px;
}

.banner-btn {
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

header>div>img {
    height: 700px;
    margin: 20px 0px;
    width: 98%;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 10px;
}

.main-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.main-articles {
    margin: auto;
}

.feature {
    color: rgba(255, 144, 14, 1);
    line-height: 3px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
}



.features>div>h2 {
    line-height: 10px;
}

.features>div>img {
    height: 700px;
}

.experiences-btn {
    padding: 10px 25px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    top: -100px;
    left: -100px;
}

.facts-portion>p {
    width: 40%;
}

.some-facts {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;

}

.facts {
    border: 1px solid orange;
    border-radius: 5px;
    height: 120px;
    width: 150px;
    line-height: 10px;
    text-align: center;
    padding: 5px;

}

.facts:hover img {
    transform: scale(1.4) rotate(360deg);
    transition: transform 2s ease-out;
}

.sponsors-container {
    display: flex;
    justify-content: space-evenly;
    margin: 70px;
}

.our-sponsor {
    text-align: center;
    margin: 100px auto;
}

.sponsors {
    height: 30px;
}

footer {
    text-align: center;
}

@media screen and (max-width:576px) {
    .main-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }

    .main-images {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .features {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px;
    }

    .some-facts {
        display: flex;
        flex-direction: column;
        margin: 40px;

    }

    .sponsors-container {
        display: flex;
        flex-direction: column;
        margin: 70px;
    }
}